<div class="table-responsive" dir="rtl">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <tr>
                    <th>תאריך</th>
                    <th>זכות</th>
                    <th>חובה</th>
                    <th>דירה</th>
                    <th>שם</th>
                    <th>קבלה</th>
                    <th>עבור</th>
                    <th>פירוט</th>
                    <th>סוג תשלום</th>
                    <th>ספק</th>
                    <th>ספקי שונות</th>
                    <th>פירוט ספקי שונות</th>
                    <th>הערות</th>
                </tr>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <tr>
                    <th>תאריך</th>
                    <th>זכות</th>
                    <th>חובה</th>
                    <th>דירה</th>
                    <th>שם</th>
                    <th>קבלה</th>
                    <th>עבור</th>
                    <th>פירוט</th>
                    <th>סוג תשלום</th>
                    <th>ספק</th>
                    <th>ספקי שונות</th>
                    <th>פירוט ספקי שונות</th>
                    <th>הערות</th>
                </tr>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                    <td>תאריך</td>
                    <td>זכות</td>
                    <td>חובה</td>
                    <td>דירה</td>
                    <td>שם</td>
                    <td>קבלה</td>
                    <td>עבור</td>
                    <td>פירוט</td>
                    <td>סוג תשלום</td>
                    <td>ספק</td>
                    <td>ספקי שונות</td>
                    <td>פירוט ספקי שונות</td>
                    <td>הערות</td>
            </tr>
            <tr>
                <td>תאריך</td>
                <td>זכות</td>
                <td>חובה</td>
                <td>דירה</td>
                <td>שם</td>
                <td>קבלה</td>
                <td>עבור</td>
                <td>פירוט</td>
                <td>סוג תשלום</td>
                <td>ספק</td>
                <td>ספקי שונות</td>
                <td>פירוט ספקי שונות</td>
                <td>הערות</td>
        </tr>
        <tr>
            <td>תאריך</td>
            <td>זכות</td>
            <td>חובה</td>
            <td>דירה</td>
            <td>שם</td>
            <td>קבלה</td>
            <td>עבור</td>
            <td>פירוט</td>
            <td>סוג תשלום</td>
            <td>ספק</td>
            <td>ספקי שונות</td>
            <td>פירוט ספקי שונות</td>
            <td>הערות</td>
    </tr>
    <tr>
        <td>תאריך</td>
        <td>זכות</td>
        <td>חובה</td>
        <td>דירה</td>
        <td>שם</td>
        <td>קבלה</td>
        <td>עבור</td>
        <td>פירוט</td>
        <td>סוג תשלום</td>
        <td>ספק</td>
        <td>ספקי שונות</td>
        <td>פירוט ספקי שונות</td>
        <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
<tr>
    <td>תאריך</td>
    <td>זכות</td>
    <td>חובה</td>
    <td>דירה</td>
    <td>שם</td>
    <td>קבלה</td>
    <td>עבור</td>
    <td>פירוט</td>
    <td>סוג תשלום</td>
    <td>ספק</td>
    <td>ספקי שונות</td>
    <td>פירוט ספקי שונות</td>
    <td>הערות</td>
</tr>
           
            
        </tbody>
    </table>
</div>