<div class="table-responsive" >
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
                <tr>
                    <th title="תאריך" ><span class="thspan">תאריך</span></th>
                    <th title="זכות"><span class="thspan">זכות</span></th>
                    <th title="חובה"><span class="thspan">חובה</span></th>
                    <th title="דירה"><span class="thspan">דירה</span></th>
                    <th title="שם"><span class="thspan">שם</span></th>
                    <th title="קבלה"><span class="thspan">קבלה</span></th>
                    <th title="עבור"><span class="thspan">עבור</span></th>
                    <th title="פירוט"><span class="thspan">פירוט</span></th>
                    <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                    <th title="ספק"><span class="thspan">ספק</span></th>
                    <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                    <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                    <th title="הערות"><span class="thspan">הערות</span></th>
                </tr>
        </thead>
        <tfoot>
                <tr>
                    <th title="תאריך" ><span class="thspan">תאריך</span></th>
                    <th title="זכות"><span class="thspan">זכות</span></th>
                    <th title="חובה"><span class="thspan">חובה</span></th>
                    <th title="דירה"><span class="thspan">דירה</span></th>
                    <th title="שם"><span class="thspan">שם</span></th>
                    <th title="קבלה"><span class="thspan">קבלה</span></th>
                    <th title="עבור"><span class="thspan">עבור</span></th>
                    <th title="פירוט"><span class="thspan">פירוט</span></th>
                    <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                    <th title="ספק"><span class="thspan">ספק</span></th>
                    <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                    <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                    <th title="הערות"><span class="thspan">הערות</span></th>
                </tr>
           
        </tfoot>
        <tbody>
            <tr>
                   <td title="test"><span class="tdspan">תאריך</span></td>
                    <td title="test"><span class="tdspan">זכות</span></td>
                    <td title="test"><span class="tdspan">חובה</span></td>
                    <td title="test"><span class="tdspan">דירה</span></td>
                    <td title="test"><span class="tdspan">שם</span></td>
                    <td title="test"><span class="tdspan">קבלה</span></td>
                    <td title="test"><span class="tdspan">עבור</span></td>
                    <td title="test"><span class="tdspan">פירוט</span></td>
                    <td title="test"><span class="tdspan">סוג תשלום</span></td>
                    <td title="test"><span class="tdspan">ספק</span></td>
                    <td title="test"><span class="tdspan">ספקי שונות</span></td>
                    <td title="test"><span class="tdspan">פירוט ספקי שונות</span></td>
                    <td title="test"><span class="tdspan">הערות</span></td>
            </tr>
        </tbody>
    </table>
</div>