<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>

            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>

            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
            <tr>
                <th>תאריך</th>
                <th>זכות</th>
                <th>חובה</th>
                <th>דירה</th>
                <th>שם</th>
                <th>קבלה</th>
                <th>עבור</th>
                <th>פירוט</th>
                <th>סוג תשלום</th>
                <th>ספק</th>
                <th>ספקי שונות</th>
                <th>פירוט ספקי שונות</th>
                <th>הערות</th>
            </tr>
        </tbody>
    </table>
</div>