<div class="table-responsive" >
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <tr>
                    <th>תאריך</th>
                    <th>זכות</th>
                    <th>חובה</th>
                    <th>דירה</th>
                    <th>שם</th>
                    <th>קבלה</th>
                    <th>עבור</th>
                    <th>פירוט</th>
                    <th>סוג תשלום</th>
                    <th>ספק</th>
                    <th>ספקי שונות</th>
                    <th>פירוט ספקי שונותירוט ספקי שונותירוט ספקי שונותירוט ספקי שונות</th>
                    <th>הערות</th>
                </tr>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <tr>
                    <th>תאריך</th>
                    <th>זכות</th>
                    <th>חובה</th>
                    <th>דירה</th>
                    <th>שם</th>
                    <th>קבלה</th>
                    <th>עבור</th>
                    <th>פירוט</th>
                    <th>סוג תשלום</th>
                    <th>ספק</th>
                    <th>ספקי שונות</th>
                    <th>פירוט ספקי שונות</th>
                    <th>הערות</th>
                </tr>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                   <td title="test">תאריך</td>
                    <td title="test">זכות</td>
                    <td title="test">חובה</td>
                    <td title="test">דירה</td>
                    <td title="test">שם</td>
                    <td title="test">קבלה</td>
                    <td title="test">עבור</td>
                    <td title="test">פירוט</td>
                    <td title="test">סוג תשלום</td>
                    <td title="test">ספק</td>
                    <td title="test">ספקי שונות</td>
                    <td title="test">פירוט ספקי שונות</td>
                    <td title="test">הערות</td>
            </tr>
        </tbody>
    </table>
</div>